.event-countdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: .2rem;
  padding-bottom: 1rem;

  > * {
    display: inline-block;
    min-width: 2rem;
    min-height: 1rem;
    transition: .2s;
    padding: .25rem;
    border-radius: 2px;
    text-align: center;
  }

  &.event-loading > * {
    background: lightgrey linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;

    @keyframes shine {
      to {
        background-position-x: -200%;
      }
    }
  }
}
