.event-countdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.2rem;
  padding-bottom: 1rem;
}
.event-countdown > * {
  display: inline-block;
  min-width: 2rem;
  min-height: 1rem;
  transition: 0.2s;
  padding: 0.25rem;
  border-radius: 2px;
  text-align: center;
}
.event-countdown.event-loading > * {
  background: lightgrey linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  -webkit-animation: 1.5s shine linear infinite;
          animation: 1.5s shine linear infinite;
}
@-webkit-keyframes shine {
  to {
    background-position-x: -200%;
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
